In [1]:
import pandas as pd
import xarray as xr
import glob
import os
import netCDF4
import scipy
from scipy import stats
import numpy as np
# import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as dates
import cartopy as cart
from cartopy.mpl.ticker import LongitudeFormatter, LatitudeFormatter
import cartopy.crs as ccrs
from datetime import datetime, timedelta
import math

In [2]:
# Function definitions

def jd_to_date(jd):
    """
    Convert Julian Day to date.
    
    Algorithm from 'Practical Astronomy with your Calculator or Spreadsheet', 
        4th ed., Duffet-Smith and Zwart, 2011.
    
    Parameters
    ----------
    jd : float
        Julian Day
        
    Returns
    -------
    year : int
        Year as integer. Years preceding 1 A.D. should be 0 or negative.
        The year before 1 A.D. is 0, 10 B.C. is year -9.
        
    month : int
        Month as integer, Jan = 1, Feb. = 2, etc.
    
    day : float
        Day, may contain fractional part.
        
    Examples
    --------
    Convert Julian Day 2446113.75 to year, month, and day.
    
    >>> jd_to_date(2446113.75)
    (1985, 2, 17.25)
    
    """
    jd = jd + 0.5
    
    F, I = math.modf(jd)
    I = int(I)
    
    A = math.trunc((I - 1867216.25)/36524.25)
    
    if I > 2299160:
        B = I + 1 + A - math.trunc(A / 4.)
    else:
        B = I
        
    C = B + 1524
    
    D = math.trunc((C - 122.1) / 365.25)
    
    E = math.trunc(365.25 * D)
    
    G = math.trunc((C - E) / 30.6001)
    
    day = C - E + F - math.trunc(30.6001 * G)
    
    if G < 13.5:
        month = G - 1
    else:
        month = G - 13
        
    if month > 2.5:
        year = D - 4716
    else:
        year = D - 4715
        
    return year, month, day
    



def jd_to_datetime(jd):
    """
    Convert a Julian Day to an `jdutil.datetime` object.
    
    Parameters
    ----------
    jd : float
        Julian day.
        
    Returns
    -------
    dt : `jdutil.datetime` object
        `jdutil.datetime` equivalent of Julian day.
    
    Examples
    --------
    >>> jd_to_datetime(2446113.75)
    datetime(1985, 2, 17, 6, 0)
    
    """
    year, month, day = jd_to_date(jd)
    
    frac_days,day = math.modf(day)
    day = int(day)
    
    hour,min,sec,micro = days_to_hmsm(frac_days)
    
    return datetime(year,month,day,hour,min,sec,micro)


def days_to_hmsm(days):
    """
    Convert fractional days to hours, minutes, seconds, and microseconds.
    Precision beyond microseconds is rounded to the nearest microsecond.
    
    Parameters
    ----------
    days : float
        A fractional number of days. Must be less than 1.
        
    Returns
    -------
    hour : int
        Hour number.
    
    min : int
        Minute number.
    
    sec : int
        Second number.
    
    micro : int
        Microsecond number.
        
    Raises
    ------
    ValueError
        If `days` is >= 1.
        
    Examples
    --------
    >>> days_to_hmsm(0.1)
    (2, 24, 0, 0)
    
    """
    hours = days * 24.
    hours, hour = math.modf(hours)
    
    mins = hours * 60.
    mins, min = math.modf(mins)
    
    secs = mins * 60.
    secs, sec = math.modf(secs)
    
    micro = round(secs * 1.e6)
    
    return int(hour), int(min), int(sec), int(micro)

In [3]:
#Choose Data Location

location = 'work'

if location in {'work'} :
    main_path = r"/DGFI8/H/work_marcello/giussani_machinelearning_data/"
    #directory = main_path + 'DMI_HBM'
    directory = main_path + 'BALTICSEA_REANALYSIS_PHY_003_011'
    directory_cmems=main_path + 'SEALEVEL_GLO_PHY_L4_REP_OBSERVATIONS_008_047' 
    directory_dac=r"/nfs/DGFI8/D/ERAinterim/2004/"#main_path + 'DAC'
    directory_grid = main_path + 'BALTICSEA_ML_GRID'

elif location in {'laptop'} :
    main_path = r"C:\Users\ne62rut\Documents\giussani_machinelearning_data"

Extract DAC Dataset:

In [4]:
cur_dir = os.getcwd()
#print(cur_dir)
parent_dir = os.path.dirname(cur_dir)
#print(parent_dir)

file_list=[]

for file in os.listdir(directory_dac):
    if (file.endswith(".nc")) :
        file_list.append(os.path.join(directory_dac, file))

track_counter = 1

for z in file_list[0:np.size(file_list)]: 
    
    #CNES Julian Day is in z[-11:-3]
    
    if track_counter == 1 :
        ds_dac = xr.open_dataset(z)
        time=jd_to_datetime( int(z[-11:-6] ) + 2433282.5 )
        time = time + timedelta(hours=int(z[-5:-3])) 
        ds_dac = ds_dac.assign_coords({"time": time})
        ds_dac  = ds_dac.expand_dims('time')
        

        track_counter = track_counter +1
    else :

        ds_dac_temp = xr.open_dataset(z)
        time=jd_to_datetime( int(z[-11:-6] ) + 2433282.5 )
        time = time + timedelta(hours=int(z[-5:-3])) 
        ds_dac_temp = ds_dac_temp.assign_coords({"time": time})
        ds_dac_temp  = ds_dac_temp.expand_dims('time')        
        
        ds_dac = xr.concat([ ds_dac , ds_dac_temp ], dim='time')
        track_counter = track_counter +1
        
ds_dac = ds_dac.where( ( (ds_dac.longitude < 31.0) & (ds_dac.longitude > 9.0) &   \
                           (ds_dac.latitude < 66.0) & (ds_dac.latitude > 53.0) )  , drop=True)

ds_dac = ds_dac.sortby(ds_dac.time)

# LOAD  DATA BALTIC SEA REANALYSIS (Copernicus)

The model data are first corrected for the corresponding DAC and then averaged as daily means to match the altimetry dataset

In [5]:
def correct_for_dac(ds,ds_dac):
    ds_dac_interp = ds_dac.copy(deep=False) #save backup of hourly values for further verification
    ds_dac_interp = ds_dac_interp.interp(longitude=ds.longitude, latitude=ds.latitude, time = ds.time)

    ds = ds.assign(sla_with_dac= ds["sla"] - ds_dac_interp["dac"])

    ds = ds.rename({'sla': 'TWLE'})
    ds = ds.rename({'sla_with_dac': 'sla'})    
    
    return ds


#glob.glob('./[0-9].*')
cur_dir = os.getcwd()
#print(cur_dir)
parent_dir = os.path.dirname(cur_dir)
#print(parent_dir)
file_list=[]
for root, dirs, files in os.walk(directory):  
    for file in files :
        if (file.endswith(".nc")) :
            file_list.append(os.path.join(root, file))

track_counter = 1

for z in file_list[0:np.size(file_list)]: 
#for z in file_list[0:12]: #Try with 2 tracks
    
    if track_counter == 1 :
        ds = xr.open_dataset(z)
        ds = correct_for_dac(ds,ds_dac)
        ds = ds.resample(time="1D").mean() #data are hourly. compute daily means.
        track_counter = track_counter +1
    else :
        daily_mean = xr.open_dataset(z)
        daily_mean = correct_for_dac(daily_mean,ds_dac)
        daily_mean = daily_mean.resample(time="1D").mean() #data are hourly. compute daily means.
        ds = xr.concat([ ds , daily_mean ], dim='time')
        track_counter = track_counter +1

Sort by time

In [6]:
ds = ds.sortby(ds.time)
#ds.sla[156].plot(vmin=-2, vmax=2)

# Save datasets as dataframes

In [8]:
# Use format of Baltic+ Grids
cur_dir = os.getcwd()
parent_dir = os.path.dirname(cur_dir)
file_list_grid=[]
for file in os.listdir(directory_grid):
    if (file.startswith("BALTIC")) :
        file_list_grid.append(os.path.join(directory_grid, file))
#ds_grid = xr.open_dataset(file_list_grid[0])
ds_grid = pd.read_csv(file_list_grid[0])

time_surge = pd.date_range(start='01/01/2004', end='31/12/2004', freq='24H')

ds_forprediction = xr.Dataset(
    {
        "sla": (["times"], np.tile( np.ones(np.shape(time_surge)),np.size(ds_grid.lon.values)) ),
        "lon": (["times"], np.repeat(ds_grid.lon.values, np.size(time_surge) ) ),
        "lat": (["times"], np.repeat(ds_grid.lat.values, np.size(time_surge) ) ),
        "time_model": (["times"], np.tile(time_surge,np.size(ds_grid.lon.values)) )
    },
    coords={
        "longitude": (["times"],np.repeat(ds_grid.lon.values, np.size(time_surge)  ) ),
        "latitude": (["times"], np.repeat(ds_grid.lat.values, np.size(time_surge)  ) ),
        "time": (["times"],np.tile(time_surge,np.size(ds_grid.lon.values)))
    },
)

In [9]:
# Interpolate model data onto the altimetry tracks
dsi_forprediction = ds.interp(longitude=ds_forprediction.lon, latitude=ds_forprediction.lat, time = ds_forprediction.time_model)

In [10]:
# Turn into dataframe and drop NaN
dsi_forprediction = dsi_forprediction.to_dataframe()

dsi_forprediction = dsi_forprediction.dropna()

In [11]:
dsi_forprediction=dsi_forprediction.rename(columns={"sla": "sla_predicted", "longitude": "lon", "latitude": "lat"})

dsi_forprediction.to_csv('/DGFI8/H/work_marcello/machine_learning_altimetry/test_prediction_newpoints_surge_copernicus.csv')

In [12]:
# # Correct ML altimetry for DAC
# # Altimetry
# alti = pd.read_csv(r'test_prediction_newpoints_surge_newtraining.csv')

# alti_dataset = xr.Dataset(
#     {
#         "sla_predicted": (["times"], alti.sla_predicted ),
#         "lon": (["times"], alti.lon ),
#         "lat": (["times"], alti.lat ),
#         "time_model": (["times"], pd.to_datetime(alti.time) )
#     },
#     coords={
#         "longitude": (["times"],alti.lon ),
#         "latitude": (["times"], alti.lat ),
#         "time": (["times"],pd.to_datetime(alti.time))
#     },
# )


# ds_dac_alti = ds_dac.interp(longitude=alti_dataset.lon, latitude=alti_dataset.lat, time = alti_dataset.time)

# alti_dataset = alti_dataset.assign(sla_predicted= alti_dataset["sla_predicted"] + ds_dac_alti["dac"])
# #alti_dataset = alti_dataset.assign(sla_predicted= alti_dataset["sla_predicted"] )
# alti_dataset= alti_dataset.to_dataframe()
# alti_dataset = alti_dataset.dropna()
# alti_dataset = alti_dataset.drop(columns=['time_model', 'longitude','latitude'])
# alti_dataset.to_csv('test_prediction_newpoints_surge_newtraining_withdac.csv')